{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Forget Password" %} |{% endblock title %}
{% block content %}
{% block class %}bg-white{% endblock class %}

<header class="inner-page-header">
    <div class="container">
        <div class="inner-header-content">
            <h1>{% trans "Forget Password" %}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{% trans "Forget Password" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</header>

<div class="authentication-section pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 pb-30">
                <div class="authentication-item">
                    <h3>{% trans "Forget Password" %}</h3>
                    <div class="authentication-form">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn main-btn full-width mb-20">{% trans "RESET PASSWORD" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}