{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Password Successfully Reset" %} |{% endblock title %}

{% block content %}
  {% block class %}bg-white{% endblock class %}

  <header class="inner-page-header">
    <div class="container">
      <div class="inner-header-content">
        <h1>{% trans "Password Successfully Reset" %}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Password Successfully Reset" %}</li>
          </ol>
        </nav>
      </div>
    </div>
  </header>

  <section class="faq-section pt-100 pb-70">
    <div class="container">
      <center>
        <div class="card col-lg-6 pb-30">
          <div class="card-header">
            <h3>{% trans "Password Successfully Reset" %}</h3>
          </div>
          <div class="card-body">
            <p>{% trans "Your password has been successfully reset." %}</p>
            <a class="btn main-btn" href="{% url 'login' %}">{% trans "Login" %}</a>
          </div>
        </div>
      </center>
    </div>
  </section>
{% endblock content %}
